*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgba(0,0,0,0.6) url(images/loginfood.jpg) center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.container{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container2{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.container h1{
    background: white;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navbar ul li a{
    padding: 9px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

.navbar ul li a:hover{
    background-color: rgb(36,131,4);
}

.content{
    position: absolute;
    color: #fff;
    margin-top: 10%;
    margin-left: 35%;
}

.content h1{
    font-size: 40px;
    margin-bottom: 5%;
}

.content span{
    color: crimson;
}

.content a{
    margin-left: 30px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: green;
}

.content .menu-color{
    background-color: orange;
    padding: 15px;
}

.spinner{
    margin-left: 20%;
    margin-top: 9%;
    width: 100px;
    height: 100px;
    animation: Morph 1s infinite;
}

@keyframes Morph{
    0%,
    100%{
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: crimson;
    }
    50%{
        border-radius: 0%;
        transform: rotate(100deg);
        background-color: green;
    }
}

.content2{
    flex-basis: 50%;
    position: absolute;
    left: 25%;
    top: 65%;
}

.content2 h5{
    color: rgb(177, 6, 6);
    font-size: 25px;
}

.content2 p{
    color: #080808;
    font-size: 14px;
    line-height: 15px;
}

.img{
    width: 200px;
    height: 220px;
    display: inline-block;
    border-radius: 15px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 1s;
}

